
<main class="main" class="py-20">
    <div class="container flex flex-wrap content-evenly	">
        <div class="w-full sm:w-1/2 ml-auto md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 h-12 text-center"> 
            <a class="btn btn-blue" href="/ai">
                Chat with AI
            </a>
        </div>   
        <div class="w-full sm:w-1/2  ml-auto md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 h-12  text-center ">
            <a class="btn btn-blue" href="/user">
                Chat with User
        </a>
        </div>        
    </div>
</main>